@use "../functions" as *;
@use "../media-queries" as *;

// Container
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-left: rem(15);
  padding-right: rem(15);

  @media screen and (min-width: $md) {
    padding-left: rem(30);
    padding-right: rem(30);
  }
}

.container--fluid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  padding-left: rem(15);
  padding-right: rem(15);

  @media screen and (min-width: $md) {
    padding-left: rem(30);
    padding-right: rem(30);
  }
}

@media screen and (min-width: $md) {
  .container {
    max-width: rem(724);
  }
}

@media screen and (min-width: $lg) {
  .container {
    max-width: rem(991);
  }
}

@media screen and (min-width: $xl) {
  .container {
    max-width: rem(1160);
  }
}
