@use "../functions" as *;
@use "../media-queries" as *;

.shop {
  &__header {
    margin-bottom: rem(40);
  }

  &__title {
    font-family: "Nunito", serif;
    font-size: rem(30);
    font-weight: 800;
    text-align: center;
    margin-bottom: rem(30);

    @media screen and (min-width: $sm) {
      font-size: rem(40);
      margin-bottom: rem(40);
    }
  }

  &__listing-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: rem(16);

    @media screen and (min-width: $sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: $xxl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
