<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Designdev ukol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Raleway:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{assets}}/styles/main.css" />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <!-- for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="application-name" lang="cs" content="Designdev ukol}" />

    <link
      rel="icon"
      sizes="192x192"
      href="{{assets}}/img/favicon/android-chrome-192x192.png"
    />

    <!-- for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Designdev ukol" />
    <!-- for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-mobile-web-app-title" content="Designdev ukol" />

    <meta name="theme-color" content="#52b480" />

    <link rel="shortcut icon" href="{{assets}}/img/favicons/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{assets}}/img/favicons/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{assets}}/img/favicons/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{assets}}/img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{assets}}/img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{assets}}/img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{assets}}/img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{assets}}/img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{assets}}/img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{assets}}/img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{assets}}/img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="{{assets}}/img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{assets}}/img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="{{assets}}/img/favicons/apple-touch-icon-1024x1024.png"
    />

    <!-- Seo  -->
    <meta name="description" content="Ukol pro designdev" />
    <meta property="og:locale" content="cs_CS" />
    <meta property="og:image" content="{{assets}}/img/op/open_graph.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Designdev ukol" />
    <meta property="og:description" content="Designdev ukol" />
    <meta property="og:url" content="https://designdev-ukol.netlify.app/" />
    <meta property="og:site_name" content="Designdev ukol" />
  </head>
  <body>
    <!--  Demo html start -->
    <div style="text-align: center; padding: 64px 24px">
      <h1 style="font-size: 24px">Demo ukol pro www.designdev.cz</h1>
    </div>
    <!--  Demo html end -->
    <div class="shop">
      <!-- Shop header start -->
      <header class="shop__header">
        <div class="container">
          <!-- Title start -->
          <h2 class="shop__title">Fetch data</h2>
          <!-- Title end -->
        </div>

        <!-- Filter start -->
        <div class="filter js-filter">
          <div class="container">
            <div class="filter__wrapper">
              <!-- Button start -->
              <a class="filter__button filter__button--active" href="#">
                <span>For Dogs</span>
              </a>
              <!-- Button end -->

              <!-- Button start -->
              <a class="filter__button" href="#">
                <span>For Humans</span>
              </a>
              <!-- Button end -->
            </div>
          </div>
        </div>
        <!-- Filter end -->

        <!-- Banner start -->
        <div class="banner">
          <div class="container">
            <div class="banner__wrapper">
              <p>Buy multiples original canine or human products</p>
            </div>
          </div>
        </div>
        <!-- Banner end -->
      </header>
      <!-- Shop header end -->

      <!-- Shop main start -->
      <main class="shop__main">
        <!-- Product listing start -->
        <div class="shop__listing">
          <div class="container">
            <!-- Product listing grid start -->
            <div class="shop__listing-grid js-product-listing-grid">
              <!-- Product card skeleton start -->
              <div class="product-card-skeleton">
                <div class="product-card-skeleton__img">
                  <svg
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 18"
                    width="40"
                    height="36"
                  >
                    <path
                      fill="currentColor"
                      d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                    ></path>
                  </svg>
                </div>
                <div class="product-card-skeleton__info">
                  <span class="product-card-skeleton__title"></span>
                  <span class="product-card-skeleton__description"></span>
                  <span class="product-card-skeleton__rating"></span>
                  <span class="product-card-skeleton__review"></span>
                  <span class="product-card-skeleton__price"></span>
                  <span class="product-card-skeleton__button"></span>
                </div>
              </div>
              <!-- Product card skeleton end -->

              <!-- Product card skeleton start -->
              <div class="product-card-skeleton">
                <div class="product-card-skeleton__img">
                  <svg
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 18"
                    width="40"
                    height="36"
                  >
                    <path
                      fill="currentColor"
                      d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                    ></path>
                  </svg>
                </div>
                <div class="product-card-skeleton__info">
                  <span class="product-card-skeleton__title"></span>
                  <span class="product-card-skeleton__description"></span>
                  <span class="product-card-skeleton__rating"></span>
                  <span class="product-card-skeleton__review"></span>
                  <span class="product-card-skeleton__price"></span>
                  <span class="product-card-skeleton__button"></span>
                </div>
              </div>
              <!-- Product card skeleton end -->

              <!-- Product card skeleton start -->
              <div class="product-card-skeleton">
                <div class="product-card-skeleton__img">
                  <svg
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 18"
                    width="40"
                    height="36"
                  >
                    <path
                      fill="currentColor"
                      d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                    ></path>
                  </svg>
                </div>
                <div class="product-card-skeleton__info">
                  <span class="product-card-skeleton__title"></span>
                  <span class="product-card-skeleton__description"></span>
                  <span class="product-card-skeleton__rating"></span>
                  <span class="product-card-skeleton__review"></span>
                  <span class="product-card-skeleton__price"></span>
                  <span class="product-card-skeleton__button"></span>
                </div>
              </div>
              <!-- Product card skeleton end -->

              <!-- Product card skeleton start -->
              <div class="product-card-skeleton">
                <div class="product-card-skeleton__img">
                  <svg
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 18"
                    width="40"
                    height="36"
                  >
                    <path
                      fill="currentColor"
                      d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"
                    ></path>
                  </svg>
                </div>
                <div class="product-card-skeleton__info">
                  <span class="product-card-skeleton__title"></span>
                  <span class="product-card-skeleton__description"></span>
                  <span class="product-card-skeleton__rating"></span>
                  <span class="product-card-skeleton__review"></span>
                  <span class="product-card-skeleton__price"></span>
                  <span class="product-card-skeleton__button"></span>
                </div>
              </div>
              <!-- Product card skeleton end -->
            </div>
            <!-- Product listing grid end -->
          </div>
        </div>
        <!-- Product listing end -->
      </main>
      <!-- Shop main end -->
    </div>

    <script defer src="{{assets}}/js/main.js"></script>
  </body>
</html>
